body {
    width: 100%;
    height: 100vh;
    background-image: var(--bg-mobile-img);
    background-repeat: no-repeat;
    background-size: 100% 25%;
    background-position: top;
  //  background-size: 100%;
    background-color: var(--color-bg_primary);
}
.headerContainer {
    width: 90%;
    max-width: 600px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        color:$VeryLightGray;
        font-family: $ff-Primary;
        font-weight: 700;
        letter-spacing: 1.4rem;
        font-size: 2.5rem;
    }
    img:hover{
      cursor: pointer;
    }
}
.newTodoContainer{
    width: 90%;
    max-width: 600px;
    height: 60px;
    margin: 0% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-bg_segundary);
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
    &__input {
        width: 85%;
        height: 45px;
        border-radius: 5px;
        background-color: transparent;
        border: none;
        color: var(--color-Txt_primary);
        font-family: $ff-Primary;
        font-weight: 700 ;
        font-size: 1.8rem ;
    }
    &__input::placeholder{
        font-weight: 400;
        color:var(--color-Txt_secondary);
        font-family: $ff-Primary;
        font-size: 1.5rem;
    }
    &__input[type=text]:focus {
       outline: none;
    }
   

    &__button {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        border-radius: 50%;
        border: 1px solid var(--color-Border);
        background-color: transparent;
    }
   
    
}
.todoListContainer{
    width: 90%;
    max-width: 600px;
    min-height: 250px;
    margin: 0 auto;
    background-color: var(--color-bg_segundary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    &__list {
        width: 100%;
        min-height: 250px;
        position: relative;   
        &-items {
            width: 100%;
            min-height: 60px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;          
            border-bottom: 1px solid var(--color-Border);
            cursor: pointer !important;
        }
        &-icon{               
            width: 24px;
            height: 24px;
            position: relative;
            border: 1px solid var(--color-Border);
            border-radius: 50%;
            z-index: 0;       
        }
        
        &-icon:hover::before {
            cursor: pointer;
            content:"";
            position:absolute;
            z-index:-1;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background: 1px $CheckBackground;
            padding:1px;
            border-radius:50%;
            mask:
              linear-gradient(#fff 0 0) content-box, 
              linear-gradient(#fff 0 0); 
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
        }
        
        &-text{
            width: 90%;
            height: 100%;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color-Txt_primary);
            p {
                font-weight: 400;
                width: 100%;              
                font-size: 1.5rem;
                text-align: left;
                font-family: $ff-Primary;
                word-wrap: break-word;
            }
            p:hover{
               // cursor: pointer;
                color: var(--color-TxtHover_primary);
            }
            i{
              margin-left: 5px;
            }
        }
        &-textCompleted {
            text-decoration: line-through; 
            color: var(--color-Txt_secondary);       
        }
      
    }
}
.todoCounter {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg_segundary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &__clearComplete:hover {
    cursor: pointer;
    color: var(--color-Txt_primary);
  }
  span{
    width: 100%;
    margin: 0 20px;
    color: var(--color-Txt_secondary);
    font-size: 1.4rem;
    font-family: $ff-Primary;
  }
  span:nth-child(2){
    text-align: right;
  }
}
.filterContainer{
    width: 90%;
    max-width: 600px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg_segundary);
    border-radius: 5px;
   
    &__text {
        color: var(--color-Txt_secondary);
        margin: 10px;
        font-size: 1.6rem;
        font-family: $ff-Primary;
        font-weight:700 ;
    }
    &__text__active{
      color: $BrightBlue;
    }
    &__text:hover {
      cursor: pointer;
      color: var(--color-TxtHover_primary);
    }
    
}
footer {
    color: var(--color-Txt_primary);
    //margin: 50px auto;
    font-size: 1.6rem;
    font-family: $ff-Primary;
    text-align: center;
    
}

@media (min-width: 768px) {
  body{
    background-image: var(--bg-desktop-img);
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: top;
  //  background-size: 100%;
    background-color: var(--color-bg_primary);
  }
  .headerContainer{
    margin-top: 100px;
  }
  .todoCounter {
    width: 90%;
    margin: 0 auto;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
    &__filter {
      width: 30%;
      display: flex;
      justify-content: space-around;
      color: var(--color-Txt_secondary);
      margin: 10px;
      font-size: 1.6rem;
      font-family: $ff-Primary;
      font-weight:700 ;
      p{
        color: var(--color-Txt_secondary);
        margin: 10px;
        font-size: 1.6rem;
        font-family: $ff-Primary;
        font-weight:700 ;
      }
      p:hover{
        cursor: pointer;
        color: var(--color-TxtHover_primary);
      }
    }
    span {
      width: auto;
      
    }
  }
}