body {
    min-height: 100vh;
    background-image: var(--bg-mobile-img);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: var(--color-bg_segundary);
}
input:disabled {
  opacity: 30%;
}
.headerContainer {
    width: 90%;
    max-width: 600px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    h1 {
        color:$VeryLightGray;
        font-family: $ff-Primary;
        font-weight: 700;
        letter-spacing: 1.4rem;
        font-size: 3.5rem;
    }
    img:hover{
      cursor: pointer;
    }
}
.newTodoContainer{
    width: 90%;
    max-width: 600px;
    height: 60px;
    margin: 0% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-bg_primary);
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
    &__input {
        width: 85%;
        height: 45px;
        border-radius: 5px;
        background-color: transparent;
        border: none;
        color: var(--color-Txt_primary);
        font-family: $ff-Primary;
        font-weight: 700 ;
        font-size: 1.8rem ;
    }
    &__input::placeholder{
        font-weight: 400;
        color:var(--color-Txt_secondary);
        font-family: $ff-Primary;
        font-size: 1.5rem;
    }
    &__input[type=text]:focus {
       outline: none;
    }
   

    &__button {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        border-radius: 50%;
        border: 1px solid var(--color-Border);
        background-color: transparent;
    }
   
    
}
.todoListContainer{
    width: 90%;
    max-width: 600px;
    min-height: 50px;
    margin: 0 auto;
    background-color: var(--color-bg_primary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   
    &__list {
        width: 100%;
        position: relative;   
        &-items {
            width: 100%;
            min-height: 60px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;          
            border-bottom: 1px solid var(--color-Border);
            cursor: pointer !important;
            position: relative;
            label {
              display: flex;
              padding: 15px;        
            }
            input[type=radio]{
              width: 24px;
              height: 24px;
              position: absolute;
              opacity: 0;
              
            }
          }
          &-icon{    
            
                 
            width: 24px;
            height: 24px;
            position: relative;
            border: 1px solid var(--color-Border);
            border-radius: 50%;
            z-index: 0;       
        }
        &-iconCheckAnimation{
            animation: checkedAnimation;
            animation-duration: 300ms;
            animation-iteration-count: 1;
            
        }
      
        
        &-icon:hover::before {
            cursor: pointer;
            content:"";
            position:absolute;
            z-index:-1;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background: 1px $CheckBackground;
            padding:1px;
            border-radius:50%;
            mask:
              linear-gradient(#fff 0 0) content-box, 
              linear-gradient(#fff 0 0); 
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
        }
        
        &-text{
            width: 90%;
            height: 100%;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color-Txt_primary);
            p {
                font-weight: 400;
                width: 100%;              
                font-size: 1.5rem;
                text-align: left;
                font-family: $ff-Primary;
                word-wrap: break-word;
                padding: 5px;
            }
            p:hover{
               // cursor: pointer;
                color: var(--color-TxtHover_primary);
            }
            i{
              margin-left: 5px;
            }
        }
        &-textCompleted {
          transition: 500ms;
          text-decoration: line-through; 
          color: var(--color-Txt_secondary);       
        }
      
    }
}
.todoCounter {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg_segundary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &__clearComplete:hover {
    cursor: pointer;
    color: var(--color-Txt_primary);
  }
  span{
    width: 100%;
    
    color: var(--color-Txt_secondary);
    font-size: 1.4rem;
    font-family: $ff-Primary;
    padding: 10px;
  }
  span:nth-child(2){
    text-align: right;
  }
  &--loading{
    opacity: 80%;
  }
}
.filterContainer{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 20px 50px ;
    //gap: 20px;
    align-items: center;
    //justify-items: center;
    border-radius: 5px;
    
    button {
      font-family: $ff-Primary;
      background-color: transparent;
      border: none;
      font-size: 1.6rem;
      text-transform: capitalize;
    }
    button:hover{
      cursor: pointer;
    }
    span {
      color: var(--color-Txt_secondary);
      padding: 10px 15px;
      font-size: 1.4rem;
      font-family: $ff-Primary;
      //font-weight:700 ;
    }
    &__itemsLeft {

      width: 100%;
      height: 100%;
      grid-row: 1 / 2;
      display: flex;
      justify-content: flex-start;   
      align-items: center;
      background-color: var(--color-bg_primary);
      border-bottom-left-radius: 5px;
    }
    &__clearBtn{
      width: 100%;
      height: 100%;
      grid-column: 2 / 3;
      display: flex;
      justify-content: flex-end;   
      align-items: center;
      background-color: var(--color-bg_primary);
      border-bottom-right-radius: 5px;
      button {
        padding: 10px 15px;
        color: var(--color-Txt_secondary);
        font-size: 1.4rem;
      }
    }
  
    &__filterBtn {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: 3 / 4 ;
      background-color: var(--color-bg_primary);
      border-radius: 5px;
      grid-column: 1 / 3;
      &__btn {
        font-weight: 700;
        color: var(--color-Txt_secondary);
        font-weight:700 ;
        padding: 15px;
      }
      &__active {
        color: $BrightBlue;
      }
    }
    &__space {
      background-color: inherit;
      width: 100%;
      height: 100%;
      grid-column: 1 / 3;
    }
    &-loading {
      opacity: 50%;
    }

}
footer {
    color: var(--color-Txt_secondary);
    margin: 20px auto;
    font-size: 1.6rem;
    font-family: $ff-Primary;
    text-align: center;
    
}

@keyframes checkedAnimation{
  0%{
      transform: scale(1.2);
  }
 
  100%{
      transform: scale(1);
  }
}


@media (min-width: 768px) {
  body{
    background-image: var(--bg-desktop-img);
    background-repeat: no-repeat;

    background-position: top;
  }
  

  .filterContainer {
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 1fr;
    &__itemsLeft{
      grid-column: 1 / 2 ;
    }
    &__clearBtn {
      grid-column: 3 / 4;
    }
    &__filterBtn {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      border-radius: 0;
    }
    &__space {
      display: none;
    }
  }
 
  
}