.modalContainer{
  background-color: rgba($DarkGrayishBlue, $alpha: .5);
  position: fixed;
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $LightGrayishBlue;
  &__card{
    width: 90%;
    max-width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
    border-radius: 5px;
    background-color: $LightGrayishBlueHover;
    box-shadow: 0 0 11px 0 $VeryDarkDesaturatedBlue;
  }
  &__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    color: $VeryDarkBlue;
    margin-bottom: 20px;
    text-align: justify;
    p{
      margin-bottom: 10px;
    }
    p:nth-child(3){
      color: $VeryDarkGrayishBlue1;
    }
    
    &-icon {
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      
      svg {
        fill: $VeryDarkBlue;
        height: 7rem;
        width: 7rem;
      }
    }
  }
  button {
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: $LightGrayishBlue;
    border: none;
  }
  button:hover{
    cursor: pointer;
    color: $LightGrayishBlueHover;
    box-shadow: 0px 0px 4px 6px $LightGrayishBlueHover ;
  }
  &__buttons {
    &-confirm {    
      margin-right: 10px;
      background: $BrightBlue;
    }
    &-out{
      margin-left: 10px;
      background-color: $VeryDarkBlue;
    }
  }
 
  
}