.skeletonContainer {
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
  
  &__background{
      border: none;
      border-bottom: 1px solid var(--color-bg_primary);
      background-color: var(--color-bg_primary);
      border-radius: 5px;
      width: 100%;
      display: flex;
      padding: 1rem;
      animation-name: preloadAnimation;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 3s;
      background: linear-gradient(to right, var(--color-bg_primary) 8%,  18%, var(--color-bg_segundary) 33%);
      min-height: 50px;
      align-items: center;
      justify-content: flex-start;
 
      i {
        @extend .todoListContainer__list-icon;
        border: 1px solid $DarkGrayishBlue;

      }
     p{
      width: 100%;
      height: 100%;
    }
  }
  &__empyState, &__errorState {
    width: 100%;
    min-height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      text-transform: capitalize;
      margin: 0 5px;
    }
    }
    
    p {    
      display: flex;
      padding: 5px;
      font-size: 1.5rem;
      color: $DarkGrayishBlue;
   }
}

@keyframes preloadAnimation{
  0%{
      background-position: -769px 0;
  }
  100%{
      background-position: 769px 0;
  }
}